<div class="container"></div>
<div class="position-absolute top-50 start-50 translate-middle card p-4 shadow" style="width: 400px; background-color: #f8f9fa;">
    <form (ngSubmit)="login()" id="loginForm">
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <img src="./assets/BD.png" width="100" />
                    <h5 class="mt-2 text-primary">OráculoX</h5>
                </div>
            </div>
        </div>
        <hr>
        <label class="form-label">User:</label>
        <input type="text" class="form-control"
            [(ngModel)]="userData.userName"
            [ngModelOptions]="{standalone:true}"
            placeholder="Example: sysdba"
            required
        >
        <br>
        <label class="form-label">Password:</label>
        <input type="password" class="form-control"
            [(ngModel)]="userData.password"
            [ngModelOptions]="{standalone:true}"
            placeholder="••••••"
            required
        >
        <br>
        <div class="d-flex justify-content-between">
            <a routerLink="/userdata" class="btn btn-link">Nueva Conexión</a>
            <button type="submit" class="btn btn-primary">Conectar</button>
        </div>
    </form>
</div>
